* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
}

img {
  width: 100%;
}